<%- include('./partials/header.ejs')%>
    <main>
        <div class="content">
            <div class="text-section">
                <h1>Manga Collectors</h1>
                <p>A story worth collecting is a story worth sharing. Dive into new worlds, discover hidden gems, and pass them on to others who seek the same adventure.</p>
                <a href="/mangas" class="browse-button">
                    Start Browsing <i class="fas fa-arrow-right"></i>
                </a>
            </div>
            <div class="image-top-right">
                <img src="/images/manga2.jpg" alt="Top Right Image">
            </div>
            <div class="image-bottom-left">
                <img src="/images/manga3.jpeg" alt="Bottom Left Image">
            </div>
            <div class="image-bottom-right">
                <img src="/images/manga1.jpg" alt="Bottom Right Image">
            </div>
        </div>
    </main>
    <%- include('./partials/footer.ejs')%>